@import 'nib'

body
  background: #91A2C0
  font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif

#home-view
  width: 600px
  height: 200px
  margin: 20px auto

  #content
    background: #FFF
    padding: 20px
    border-radius: 4px

/* Default font settings */
body
  font-size: 15px
  color: #666
  background: #fff
  font-family: "KievitPro", "ff-kievit-web-pro-1","ff-kievit-web-pro-2", "Helvetica Neue", Arial, Helvetica, sans-serif

/* Headings */
h1, h2, h3, h4, h5
  font-weight: normal
  color: #222
  clear: left

h1
  font-size: 5em
  line-height: 1.4
  margin-bottom: 0.5em

h2
  font-size: 2em
  line-height: 1
  margin-bottom: 0.5em

/* Text elements */
p
  margin: 0 0 1.5em

/* Style */
#content
  width: 90%
  text-align: center
  margin: 0 auto
  margin-top: 40px
  margin-bottom: 60px

h1
  background: #91A2C0
  background-repeat: no-repeat
  background-position: 2px
  color: #fff
  width: 330px
  padding-left: 18px
  border-radius: 5px

#props
  position: relative
  top: 36px
  font-size: 18px
  padding-left: 373px
  color: #eee
  font-style: italic

#input-fqdn
  text-align: center

#div-fqdn, #div-refresh, #div-reconfigure, #div-status-ok, #div-status-ko
  margin-top: 10px

#input-fqdn, #button-refresh, #button-reconfigure, #button-halt, #button-reboot
  width: 100%

#div-status-ok, #div-status-ko
  display: none
