#content
h2 Self hosting
div.cozy
  form(name="cozy", action="./debian/fqdn", method="post")
    input(type="text", name="fqdn")
    input(type="button", value="refresh")
    input(type="button", value="save")
